@import "common";

$blue: #5899F7;
$red: #F13A2B;

@font-face {
    font-family: "terminus";
    src: url("fonts/terminus/TerminusTTF-4.39.ttf");
}

@font-face {
    font-family: "terminus";
    font-weight: bold;
    src: url("fonts/terminus/TerminusTTF-Bold-4.39.ttf");
}

@mixin dialog_frame {
    @include grad($blue, darken($blue, 10%));
    color: white;
    border: 3px solid white;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 2px 0 rgba(black, 0.1), inset 0 2px 1px rgba(black, 0.1);
}

body {
    margin: 0;
    padding: 0;
    background: #333;
    color: white;
    position: relative;
    width: 100vw;
    height: 100vh;

    @include default_font;
}

.game_frame {
    @include border_box;
    width: 420px;
    height: 262px;
    box-shadow: 0 0 0 2px #222;
    border-radius: 2px;
    margin: auto auto;
    background: #999;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: scale(2,2);
}

.frame, .dialog_widget {
    @include dialog_frame;
}

.choice_dialog_widget {
    @include dialog_frame;
    display: inline-block;
    margin-top: 0;

    &.animated {
        @include prefixed(animation-duration, 0.5s);
    }

    .choice {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        &.selected {
            .selector {
                background: $red;
            }
        }

        .selector {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: transparent;
            border: 1px solid white;
            border-radius: 2px;
            vertical-align: -1px;
            margin-right: 5px;
        }
    }

}

.battle_widget {
    .party_widget {
        padding-left: 5px;
        padding-right: 5px;

        .player_frames {
            display: flex;
            flex-wrap: no-wrap;
        }

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .frame {
            margin-left: 5px;
            margin-right: 5px;
            flex-grow: 1;
            position: relative;

            &.acitve {
                top: -5px;
            }
        }
    }
}

